<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Page</title>
  </head>
  <body>
    <header>
      <a href="/" class="main-logo">VOTE VOTE</a>
      <div class="user-box">
        <a href="/votings/new" class="create-vote">/ + /</a>
        <a href="/votings" class="my-vote">/ My page /</a>
        <a href="/logout" class="logout">/ logout /</a>
      </div>
    </header>
    <div class="page-title">My page</div>
        <div class="section-body">
      <% myVotes.forEach(vote => { %>
      <a
        href="/votings/<%= vote._id %>"
        class="vote-element progress-<%= vote.inProgress %>"
      >
        <div class="vote-title"><%= vote.title %></div>
        <div class="vote-expiration">
          <span>expiration - <%= vote.expiration%></span>
        </div>
      </a>
      <% }); %>
    </div>

  </body>
</html>
